<%- include ./partials/deals.ejs%>

<%# if global.user.local.isvendor: true { %>


    <div class="row">
    <h3><span class="fa fa-table"></span> Submit a new deal</h3>
        <div class="col-sm-6">
             <form action="/deals" method="post">
                    <div class="form-group">
                        <label>Deal</label>
                        <input type="text" class="form-control" name="title">
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" name="price">
                    </div>
                    <div class="form-group">
                        <label>Start Date</label>
                        <input type="date" class="form-control" name="startdate">
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <input type="date" class="form-control" name="enddate">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                </form>
        </div>
    </div>

     <%# } %>
