    <!-- <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> The Meal Deal</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
    </div> -->



		<div class="col-md-3 col-md-offset-1">
		 	<div class="tweetBox-container">
				<div class="tweetHeader">Tweet about Meal Deals</div>
				<div class="tweetBox"></div>
			</div>
		</div>


		<div class="col-md-3 col-md-offset-3">
			<div class="home-deals-container">
				<div class="tweetHeader">Tweet about Meal Deals</div>
				<div class="tweetBox"></div>
			</div>
		</div>

	<!-- <div class="row">



		</div>
	</div> -->





</div>
