<div class="profile-container"><!-- profile-container div -->


	<!-- Acount Information -->
	<div class="row"><!-- row div -->
		<div class="col-md-8 col-md-offset-1">

			<div class="jumbotron">
					<h1>Welcome <%= user.facebook.name %></h1>
				<div class="personalProfile">
					<strong>Name</strong>: <%= user.facebook.name %><br>
					<strong>email</strong>: <%= user.facebook.email %>
				</div>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
			</div>
			<!-- <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3> -->
		</div>
	</div><!-- row div -->


	<!-- Map -->
	<div class="row"><!-- row div -->
		<div class="col-md-5 col-md-offset-1">
			<div class="map-container">
				<div style="width: 500px; height: 500px; margin: auto" id="map"></div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="deals-container">

				<%- include ./partials/deals.ejs%>

			</div>
		</div>
	</div><!-- row div -->




</div><!-- profile-container div -->
